@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.botao {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    background-color: #ffffff;
    color: #173660;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 100px;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.botao2 {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid white;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 100px;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.botao2:hover {
    background-color: rgba(255, 255, 255, 0.09);

}

.botao:hover {
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .botao, .botao2 {

        padding: 10px 15px;
        font-size: 14px;
    }

    .botao {
        margin-bottom: 10px;
    }
}